<mat-card>
    @for (c of memoryStore.entities(); track c) {
        <gedx2025-memory-card [card]="c" (clicked)="memoryStore.openCard(c)" [enabled]="!memoryStore.boardDisabled()"></gedx2025-memory-card>
    }
</mat-card>
@if (memoryStore.gameComplete()) {
    <div class="message" animate.enter="fade">
            <img src="./christmas.png" width="100px"/>
        <h1>
            GEDOPLAN wünscht frohe Weihnachten
        </h1>
            <img src="./christmas.png" width="100px"/>
    </div>
}
